* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  padding: 0 5px;
  padding-top: 30px;

  margin: 0 46px;
  width: 300px;
  height: 660px;
  border: 2px solid black;
  border-radius: 30px;
}

.background-image {
  margin: 0 100px;
  padding: 15px 0;
  width: 380px;
  height: 700px;
  background-image: url("./assets/iphone_bg.png");
  background-size: cover;
}
